@font-face {
    font-family: "Rhanoll";
    src: url(./Rhanoll.ttf) format("truetype");
}

body {
    margin: 0;
    background-color: #293241;
    padding: 0px 0px 0px 50px;
    font-family: "Rhanoll", sans-serif; 
}

h1, h2, p {
    margin: 0;
}

#header1 {
    color: #ffffff;
    font-size: 8rem;
    line-height: 0.65;
    margin-top: 4rem;
}

#header2 {
    color: #9BFF8B;
    font-size: 8rem;
    line-height: 0.65;
}

h2 {
    color: #98C1D9;
    font-size: 2.5rem;
    padding: 3rem 0;
    font-weight: lighter;
}

label {
    color: #98C1D9;
}

button {
    background-color: #9BFF8B;
    color: #000000;
    border: none;
    padding: 5px 12px;
    border-radius: 20px;
    font-size: 1rem;
    display: block;
    margin: 0 auto 1rem auto;
}

#password-1 {
    background-color: #E0FBFC;
}

#password-2 {
    background-color: #E0FBFC;
}

.header-group {
  width: fit-content;
}

#generate {
    display: block;
    margin: 0 auto 2rem auto;
    padding: 5px 15px;
    font-size: 2rem;
    border-radius: 30px;
}

#options {
    text-align: center;
    font-size: 2rem;
    margin: 5rem 0;
}

button.copied {
  background-color: #9BFF8B;
  color: #000;
  transition: background-color 0.3s, color 0.3s;
}

button.copied::after {
  content: " ✓ Copied!";
  font-size: 0.8rem;
  margin-left: 0.5rem;
  color: #98C1D9;
}

#generate:hover {
    background-color: #66bc59;
}